.error-message {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border-radius: 0.25rem;
  background-color: var(--error-state-bg, transparent);
  font-size: .9rem;
  font-weight: 600;
}